openapi: 3.0.0
info:
  description: OpenAPI 3.0 Definition for Bitpanda Public API
  version: 1.0.0
  title: Bitpanda Public API  
security:
  - api_key: []
paths:
  /wallets:
    get:
      operationId: wallets_get
      parameters:
        - in: query
          name: type
          required: false
          schema:
            type: string
        - in: query
          name: page
          required: false
          schema:
            type: integer
            format: int32
            minimum: 0
        - in: query
          name: page_size
          required: false
          schema:
            type: integer
            format: int32
            minimum: 0
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TradesResult'
  /trades:
    get:
      operationId: trades_get
      parameters:
        - in: query
          name: type
          required: false
          schema:
            $ref: '#/components/schemas/TradeType'
        - in: query
          name: page
          required: false
          schema:
            type: integer
            format: int32
            minimum: 0
        - in: query
          name: page_size
          required: false
          schema:
            type: integer
            format: int32
            minimum: 0
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TradesResult'
servers:
  - url: 'https://api.bitpanda.com/v1'
components:
  securitySchemes:
    api_key:
      type: apiKey
      in: header
      name: X-API-KEY
  schemas:
    TradeType:
      type: string
      enum:
        - buy
        - sell
    TradeAttributes:
      type: object
      required:
        - status
        - type
        - cryptocoin_id
        - fiat_id
        - amount_fiat
        - amount_cryptocoin
        - fiat_to_eur_rate
        - wallet_id
        - fiat_wallet_id
        - payment_option_id
        - time
        - price
        - is_swap
      properties:
        status:
          type: string
          example: finished
        type:
          $ref: '#/components/schemas/TradeType'
        cryptocoin_id:
          type: string
          example: '1'
        fiat_id:
          type: string
          example: '1'
        amount_fiat:
          type: string
          format: decimal
          example: '100.00'
        amount_cryptocoin:
          type: string
          example: '0,03325352'
        fiat_to_eur_rate:
          type: string
          format: decimal
          example: '1.00000000'
        wallet_id:
          type: string
          format: uuid
          example: b8448e50-21e4-11e8-923c-83856b384ff7
        fiat_wallet_id:
          type: string
          format: uuid
          example: 4019cdb0-1d62-11e8-b4b2-313f9b0a3bca
        payment_option_id:
          type: string
          example: '12'
        time:
          $ref: '#/components/schemas/TimeResult'
        price:
          type: string
          format: decimal
          example: '3007.20'
        is_swap:
          type: boolean
          example: true
        is_savings:
          type: boolean
          example: true
        is_card:
          type: boolean
          example: true
        bfc_used:
          type: boolean
          example: true
        tags:
          type: array
          items:
            type: string
            example: tag
    TimeResult:
      type: object
      required:
        - date_iso8601
        - unix
      properties:
        date_iso8601:
          type: string
          format: date-time
        unix:
          type: string
          format: int32
    Trade:
      type: object
      required:
        - type
        - id
        - attributes
      properties:
        id:
          type: string
          format: uuid
        type:
          type: string
        attributes:
          $ref: '#/components/schemas/TradeAttributes'
    LinksResult:
      required:
        - next
        - last
        - self
      properties:
        next:
          type: string
          format: url
        last:
          type: string
          format: url
        self:
          type: string
          format: url
    PagingResult:
      type: object
      required:
        - page
        - page_size
        - total_count
      properties:
        page:
          type: integer
          format: int32
        page_size:
          type: integer
          format: int32
        total_count:
          type: integer
          format: int32
    TradesResult:
      type: object
      required:
        - data
        - meta
        - links
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Trade'
        meta:
          $ref: '#/components/schemas/PagingResult'
        links:
          $ref: '#/components/schemas/LinksResult'